.projectsSection {
  padding: 120px 0;
  background-color: var(--color-bg-surface);
}

.sectionTitle {
  text-align: center;
  margin-bottom: 140px;
  font-size: 3rem;
  letter-spacing: -2px;
}

.grid {
  display: flex;
  flex-direction: column;
  gap: 200px;
  margin: 0 auto;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 32px;
  background: transparent;
}

.imageWrapper {
  width: 100%;
  overflow: hidden;
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.12);
}

.image {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.8s cubic-bezier(0.16, 1, 0.3, 1);
}

.image:hover{
  transform: scale(1.03);
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.category {
  color: var(--color-primary);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.title {
  font-size: 2.5rem;
  margin: 0;
}

.description {
  font-size: 1.15rem;
  line-height: 1.4;
  color: var(--color-text-muted);
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.tagItem {
  font-size: 0.85rem;
  background-color: var(--color-bg-surface);
  border-radius: 8px;
  color: var(--color-text-main);
}

.actions {
  margin-top: 20px;
  display: flex;
  gap: 16px;
}