.section {
    padding: 120px 0;
}

.alternativeBg {
    background-color: var(--color-bg-surface);
}

.sectionTitle {
    text-align: center;
    margin-bottom: 120px !important;
    letter-spacing: -2px;
}

.isFooter {
    padding-bottom: 40px;
}